discovery-output.json
execute_request.json
feature-collection.json
stars_out
*.tif
.ipynb_checkpoints
__pycache__/*
__pycache__
*.pyc
.git
.venv
env
.git
.ipynb_checkpoints
*.egg-info
build/**
dist/**
*.tif
*.TIF
*.tiff
*__pycache__*